# MODELS - API Keys and Model informations
GEMINI_API_KEY=
GEMINI_MODEL_NAME=

XAI_API_KEY=
GROK_MODEL_NAME=

DEEPSEEK_API_KEY=
DEEPSEEK_MODEL_NAME=

# VLE config
VLE_USERNAME=
VLE_PASSWORD=
VLE_BASE_URL=
VLE_SERVICE=
VLE_COURSE_CONTENT_OUT=out/{course_tag}/{version}
VLE_STUDENT_SUBMISSIONS_OUT=out/{course_tag}/{version}
VLE_DEFAULT_SUBMISSIONS_COUNT=10000

# blip-b internal config
BLIP_CONFIDENCE_THRESHOLD=70
BLIP_CONTENT_UPLOAD_DIR=out/{course_tag}/{version}
BLIP_STUDENT_RESPONSES_DIR=out/{course_tag}/{version}
BLIP_OUTPUT_DIR=out
BLIP_RESULTS_DIR=out/results
BLIP_STAT_DIR=out/stats
BLIP_CHROMADB_DIR=db/chroma
