# MODELS - API Keys and Model informations
GEMINI_API_KEY=
GEMINI_MODEL_NAME=gemini-3.1-flash-lite

XAI_API_KEY=
GROK_MODEL_NAME=grok-4.2-reasoning-flash

DEEPSEEK_API_KEY=
DEEPSEEK_MODEL_NAME=deepseek-chat

# VLE config
VLE_USERNAME=
VLE_PASSWORD=
VLE_BASE_URL=
VLE_SERVICE=moodle_mobile_app
VLE_DEFAULT_SUBMISSIONS_COUNT=10000

# blip-b internal config
BLIP_CONFIDENCE_THRESHOLD=70
BLIP_COURSE_CONTENT_UPLOAD_DIR=/<path>/blip/out/{course_tag}/course_content
BLIP_STUDENT_SUBMISSIONS_UPLOAD_DIR=/<path>/blip/out/{course_tag}/submissions
BLIP_OUTPUT_DIR=/<path>/blip/out
BLIP_RESULTS_DIR=/<path>/blip/out/{course_tag}/results
BLIP_STAT_DIR=/<path>/blip/out/{course_tag}/stats
BLIP_CHROMADB_DIR=/<path>/blip/.db/chroma/{course_tag}
BLIP_SQLITE_DB_PATH=/<path>/blip/.db/sqlite/{course_tag}
BLIP_EMBED_MODEL="sentence-transformers/all-MiniLM-L6-v2"
BLIP_EMBED_MAX_TOKENS=256
BLIP_CHUNK_SIZE=1000
BLIP_CHUNK_OVERLAP=50

# Torch
TORCH_COMPILE_DISABLE=1
CUDA_VISIBLE_DEVICES=""
