# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# RAG
rag_later/

# Evaluation
eval/

# Environment
.env

# Outputs
out/

# Schemas
.db/

# Cache
.blip_cache/
.pytest_cache/
